.App {
  text-align: center;
  width: 600px;
  margin: auto;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 16px;
  resize: vertical;
}

select {
  color: #b1222e;
  font-size: 16px;
  font-weight: 500;
}

input[type="text"]::placeholder {
  color: #b1222e;
  font-size: 16px;
  font-weight: 500;
}

input[type="submit"] {
  background-color: #561e9e;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
  right: 30%;
}
